# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Local env
.env

# Output data
data/output/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# AWS
.aws/
